@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .app-color-deep-dark-blue {
    color: #181D31;
  }
  .app-bg-deep-dark-blue {
    background-color: #181D31;
  }
  .app-border-deep-dark-blue {
    border-color: #181D31;
  }
  .app-color-gray {
    color: #797E93;
  }
  .app-bg-gray {
    background-color: #797E93;
  }
  .app-color-green {
    color: #34D391;
  }
  .app-bg-green {
    background-color: #34D391;
  }
  .app-color-red {
    color: #E8697E;
  }
  .app-bg-red {
    background-color: #E8697E;
  }
  .app-color-light-purple {
    color: #E8D9EC;
  }
  .app-bg-light-purple {
    background-color: #E8D9EC;
  }
  .app-color-blue {
    color: #5271FF;
  }
  .app-bg-blue {
    background-color: #5271FF;
  }
}